$dark: #141414;
$green: #16A085;
$second-green: #1abc9c;
$white: #fff;
$radius: 2px;
$transition: 0.5s all;

@import 'partials/standards';
@import 'partials/buttons';

// NAVIGATION
#navbar {
  @extend .text-center;
  z-index: 2;
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: $dark;
}

.fixed-nav #navbar {
  position: fixed;
}

.navigation {
  padding-top: 15px;
}

.nav-btn {
  font-size: 11px;
  font-weight: lighter;
  padding: 15px 35px;
  border-radius: $radius;
  &:hover {
    background-color: $green;
  }
}

.nav-icons {
  margin: 6px;
  padding-left: 10px;
  font-size: 16px;
  color: $white;
}

// END NAVIGATION //

// BEGIN HOME PAGE //

// INDEX PAGE //
// SECTION - HOME

#home {
  @extend .holder;
  background: linear-gradient(
  rgba(20,20,20, 0.5),
  rgba(20,20,20, 0.6)),
  url(../img/header.jpg);
  // background: url(../img/header.jpg);
  height: 92vh;
  display: flex;
  align-items: center;
}

// SECTION - Call to Action

#cta {
  background-color: $white;
  color: $dark;
  padding-top: 60px;
  padding-bottom: 60px;
  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

// SECTION - Photo Grid

#photos {
  .photo-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap:10px;
    margin-left: -20px;
  }
  .photo-item {
    width: 100%;
    &:hover {
      opacity: 0.8;
      transition: opacity .3s ease-out;
      -moz-transition: opacity .2s ease-out;
      -webkit-transition: opacity .2s ease-out;
      -o-transition: opacity .2s ease-out;
    }
  }
}

// END HOME PAGE //

// BEGIN ABOUT PAGE //

// ABOUT PAGE
// SECTION - About Header
#about-header {
  @extend .holder;
  @extend #home;
  background: url(../img/about-header.jpg);
}

// SECTION - About Content
#about {
  padding: 70px 0px;
  // min-height: 700px;
  .grid {
    display: grid;
    grid-template-columns: 60% 50%;
    grid-gap: 0px 40px;
  }
  .grid-small {
    @extend .grid;
  }
  .about-photo {
    margin-top: 120px;
    max-width: 80%;
  }
}

.work-history {
  text-align: right;
}

.features p {
  margin-top: 0px;
  margin-bottom: 0px;
}

// END ABOUT PAGE //

// BEGIN SERVICES PAGE //
#service-header {
  @extend .holder;
  @extend #home;
  background-image: url(../img/service-header.jpg);
}

// SECTION -
#content {
  padding: 70px 0px;
  .grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.box {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.service {
	border: 1px solid $white;
	margin-top: 20px;
	margin-bottom: 0px;
	position: relative;
	padding: 60px 25px;
  transition: $transition;
  min-height: 380px;
  &:hover {
    border-color: $green;
  	margin-top: 0px;
  	margin-bottom: 0px;
  	cursor: pointer;
  	padding-top: 80px;
  	padding-bottom: 80px;
    span.fa {
      color: $second-green;
    }
  }
  h4 {
    text-transform: uppercase;
  }
}

#work {
  @extend #photos, .photo-item;
  padding: 70px 0px;
  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid-small {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 15.5px;
    margin-top: 10px;
    margin-left: -20px;
  }
}


// SECTION - Contact Form

#contact {
  @extend .holder;
  background: url(../img/footer.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.socials {
  list-style: none;
  padding-left: 0;
  li {
    @extend .hover-color;
    display: inline;
    margin-right: 20px;
  }
}

.form {
  .form-control {
    margin-top: 10px;
    // margin-left: -20px;
    width: 100%;
    border-radius: $radius;
    border-top: 2px solid transparent;
    transition: $transition;
    height: 30px;
    &:focus {
      outline: none;
      border-top: 2px solid $green;
    }
    &:first-child{
      margin-top: 32px;
    }
  }
  #message {
    height: 100px;
  }
}

// SECTION - Footer

#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 5px solid $green;
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  p:last-child {
    text-align: right;
  }
}


// Media Queries
@media only screen and (max-width: 1240px) {
  .container{
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
    .container {
        width: 95%;
    }

    .holder {
      background-attachment: scroll;
    }

    #navbar {
      display: none;
    }

    #contact {
      .title {
        text-align: center;
        font-size: 28px;
      }
      .socials, h5 {
        text-align: center;
      }
    }

    .about-photo {
      margin-top: 20px !important;
      min-width: 100%;
    }

    .form {
      .form-control {
        margin-left: 0px;
      }
    }

    #footer p {
      text-align: center !important;
    }
}


// OTHER
.holder {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

input[type="submit"]{
  -webkit-appearance: none;
}
