@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Nunito:300");
/* line 1, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
body, html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Montserrat",sans-serif;
  background-color: #141414;
  color: #fff;
  line-height: 1.42857143; }

/* line 17, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
#main {
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%; }

/* line 23, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
h1, h2, h3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px; }

/* line 29, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
h4, h5 {
  font-weight: 300; }

/* line 33, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
p {
  font-family: 'Nunito',sans-serif;
  font-size: 15px;
  font-weight: 300; }

/* line 39, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.title {
  font-size: 46px;
  font-weight: 700; }

/* line 44, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
input, textarea {
  border: 0 solid transparent;
  padding: 10px;
  margin-top: 10px; }

/* line 50, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
hr {
  width: 50px;
  height: 2px;
  background-color: #1abc9c;
  border: 0 solid #1abc9c; }

/* line 57, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
a {
  font-weight: 300;
  text-decoration: none;
  color: inherit; }

/* line 63, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.blue {
  color: #16A085;
  transition: all 0.2s ease; }
  /* line 66, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
  .blue:hover {
    color: #1abc9c; }

/* line 71, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.container {
  width: 60%;
  margin: 0 auto; }

/* line 76, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.fluid {
  width: 100%; }

/* line 80, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.text-center, #navbar {
  text-align: center; }

/* line 84, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.space {
  height: 40px; }

/* line 88, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.hover-color, .socials li {
  transition: all 0.2s ease; }
  /* line 90, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
  .hover-color:hover, .socials li:hover {
    color: #1abc9c; }

/* line 95, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_standards.scss */
.italic {
  font-style: italic; }

/* line 1, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
.btn {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease;
  padding: 10px; }

/* line 9, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
.go-to-btn {
  border: 1px solid #16A085;
  padding: 7px 30px;
  word-spacing: 2px;
  border-radius: 2px;
  font-size: 12px; }
  /* line 15, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
  .go-to-btn:hover {
    color: #fff;
    background-color: #16A085; }

/* line 21, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
.home {
  top: 150px; }
  /* line 23, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
  .home .down-btn {
    z-index: 2;
    border: 2px solid #fff; }
    /* line 26, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
    .home .down-btn:hover {
      border: 2px solid #1abc9c; }

/* line 32, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
.down-btn {
  font-size: 26px;
  border: 1px solid #1abc9c;
  border-radius: 50px;
  padding: 2px 10px;
  position: relative;
  color: #1abc9c;
  transition: all 0.2s ease; }
  /* line 40, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
  .down-btn:hover {
    color: #fff;
    background-color: #1abc9c; }

/* line 46, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
.send-btn {
  color: #fff;
  background-color: #16A085;
  padding: 15px 35px;
  float: right;
  transition: all 0.2s ease;
  border: 2px solid transparent; }
  /* line 53, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/partials/_buttons.scss */
  .send-btn:hover {
    background-color: transparent;
    border: 2px solid #16A085; }

/* line 13, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#navbar {
  z-index: 3;
  position: relative;
  top: 0;
  width: 100%;
  background-color: #141414; }

/* line 22, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.fixed-nav #navbar {
  position: fixed; }

/* line 26, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.navigation {
  padding: 10px 0; }

/* line 30, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.nav-btn {
  font-size: 11px;
  font-weight: lighter;
  padding: 15px 35px;
  border-radius: 2px; }
  /* line 35, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .nav-btn:hover {
    background-color: #16A085; }

/* line 40, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.nav-icons {
  margin: 6px;
  padding-left: 10px;
  font-size: 16px;
  color: #fff; }

/* line 48, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.open-slide {
  position: fixed;
  color: #16A085;
  margin: 25px;
  transition: all 0.2s ease; }
  /* line 53, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .open-slide:hover {
    color: #fff; }
  /* line 56, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .open-slide a:hover {
    cursor: pointer; }

/* line 61, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #141414;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.2s ease; }
  /* line 73, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .side-nav a {
    display: block;
    transition: all 0.2s ease; }
    /* line 76, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
    .side-nav a:hover {
      color: #fff; }
  /* line 80, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .side-nav .btn-close {
    position: absolute;
    color: #1abc9c;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px; }

/* line 97, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#home, #about-header, #service-header {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.6)), url(../img/header.jpg);
  height: 100vh;
  display: flex;
  align-items: center; }

/* line 113, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#cta {
  background-color: #fff;
  color: #141414;
  padding-top: 60px;
  padding-bottom: 60px; }
  /* line 118, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #cta p {
    margin-top: 30px;
    margin-bottom: 30px; }

/* line 127, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#photos .photo-container, #work .photo-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px; }

/* line 133, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#photos .grid, #work .grid, #photos #about .grid-small, #about #photos .grid-small, #work #about .grid-small, #about #work .grid-small {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 10px;
  margin-left: -20px; }

/* line 139, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#photos .photo-item, #work .photo-item, #photos #work, #work #work {
  width: 100%; }
  /* line 141, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #photos .photo-item:hover, #work .photo-item:hover, #photos #work:hover, #work #work:hover {
    opacity: 0.8;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out; }

/* line 157, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#about-header {
  background: url(../img/about-header.jpg); }

/* line 164, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#about {
  padding: 70px 0px; }
  /* line 167, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #about .grid, #about .grid-small {
    display: grid;
    grid-template-columns: 60% 50%;
    grid-gap: 0px 40px; }
  /* line 175, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #about .about-photo {
    margin-top: 120px;
    max-width: 80%; }

/* line 181, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.work-history {
  text-align: right; }

/* line 185, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.features p {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 193, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#service-header {
  background-image: url(../img/service-header.jpg); }

/* line 200, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#content {
  padding: 70px 0px; }
  /* line 202, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #content .grid, #content #about .grid-small, #about #content .grid-small {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%; }

/* line 208, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.box {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px; }

/* line 215, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.service {
  border: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  padding: 60px 25px;
  transition: all 0.2s ease;
  min-height: 380px; }
  /* line 223, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .service:hover {
    border-color: #16A085;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    padding-top: 80px;
    padding-bottom: 80px; }
    /* line 230, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
    .service:hover span.fa {
      color: #1abc9c; }
  /* line 234, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .service h4 {
    text-transform: uppercase; }

/* line 239, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#work {
  padding: 70px 0px; }
  /* line 242, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #work .grid, #work #about .grid-small, #about #work .grid-small {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }
  /* line 246, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #work .grid-small {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 15.5px;
    margin-top: 10px;
    margin-left: -20px; }

/* line 258, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#contact {
  background: url(../img/footer.jpg);
  padding-top: 100px;
  padding-bottom: 100px; }
  /* line 263, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #contact .grid, #contact #about .grid-small, #about #contact .grid-small {
    display: grid;
    grid-template-columns: 50% 50%; }

/* line 269, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.socials {
  list-style: none;
  padding-left: 0; }
  /* line 272, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .socials li {
    display: inline;
    margin-right: 20px; }

/* line 280, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.form .form-control {
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
  height: 30px; }
  /* line 288, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .form .form-control:focus {
    outline: none;
    border-top: 2px solid #16A085; }
  /* line 292, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .form .form-control:first-child {
    margin-top: 32px; }

/* line 296, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.form #message {
  height: 100px; }

/* line 303, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 5px solid #16A085; }
  /* line 307, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #footer .grid, #footer #about .grid-small, #about #footer .grid-small {
    display: grid;
    grid-template-columns: 50% 50%; }
  /* line 311, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #footer p:last-child {
    text-align: right; }

@media only screen and (max-width: 1240px) {
  /* line 319, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .container {
    width: 90%; } }

@media only screen and (max-width: 650px) {
  /* line 325, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .container {
    width: 95%; }
  /* line 329, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .grid, #about .grid-small {
    display: block !important;
    margin-left: 0px !important; }
  /* line 334, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .grid-small {
    display: block !important;
    margin-left: 0px !important; }
  /* line 339, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .holder, #home, #about-header, #service-header, #contact {
    background-attachment: scroll; }
  /* line 343, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #navbar {
    display: none; }
  /* line 347, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .open-slide {
    display: inline !important; }
  /* line 352, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #contact .title {
    text-align: center;
    font-size: 28px; }
  /* line 356, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #contact .socials, #contact h5 {
    text-align: center; }
  /* line 361, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .about-photo {
    margin-top: 20px !important;
    min-width: 100%; }
  /* line 367, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  .form .form-control {
    margin-left: 0px; }
  /* line 372, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
  #footer p {
    text-align: center !important; } }

/* line 378, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.spacing {
  height: 60px;
  margin-top: -60px; }

/* line 383, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
.holder, #home, #about-header, #service-header, #contact {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* line 393, /Users/mitulshah/Desktop/Wesbites/Websites/photo_v2/styles/style.scss */
input[type="submit"] {
  -webkit-appearance: none; }

/*# sourceMappingURL=style.css.map */